@model BlogCore_Models.ViewModels.HomeVM
@{
    ViewData["Title"] = "Inicio";
}

@section Header
{
	<header>
        
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administrar contenidos</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Categorias" asp-action="Index">Categoria</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Articulos" asp-action="Index">Actividad</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Sliders" asp-action="Index">Sliders</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Usuarios" asp-action="Index">Usuarios</a>

                            </div>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <partial name="_LoginPartial"/>
        </nav>


        <!--Aqui vita parcial slider--> 

        @if(ViewBag.IsHome == true)
        {
        <partial name="_Slider" />
        }

    </header>
}


<div class="row mt-1">
    <div class="col-sm-12">
		@* <h1 class="text-center text-white bg-primary py-1">Actividades de validaciones</h1> *@
    </div>
</div>

@if(Model.ListaArticulos.Count() > 0)
{
	<hr />
    <div class="row">
        @foreach(var item in Model.ListaArticulos.OrderBy(o => o.Id))
        {
            <div class="col-4">
				<div class="card">
					<img src="@item.UrlImagen" class="img-thumbnail" width="100%" />
					<div class="card-body">
						<h5 class="card-title">@item.Nombre</h5>
                        <a asp-action="Detalle" class="btn-success" style="border-radius;10px" asp-route-id="@item.Id">
                            Mas informacion
                        </a>

                    </div>
                </div>
            </div>
        }
    </div>
}
else 
{
    <p>No hay articulos</p>
}


