@model BlogCore.Models.Categoria

@{
    ViewData["Title"] = "Crear Categoria";
}

@section Header
{
	<header>
        
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administrar contenidos</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Categorias" asp-action="Index">Categoria</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Articulos" asp-action="Index">Actividad</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Sliders" asp-action="Index">Sliders</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Usuarios" asp-action="Index">Usuarios</a>

                            </div>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <partial name="_LoginPartial"/>
        </nav>


        <!--Aqui vita parcial slider--> 

        @if(ViewBag.IsHome == true)
        {
        <partial name="_Slider" />
        }

    </header>
}

<br />
<br />
<h3 class="text-center">Crear una nueva categoria</h3>

<form method="POST" asp-action="Create">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-10 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Nombre"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Nombre" class="form-control" placeholder="Ingresa el Nombre" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>

            <br />

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Orden"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Orden" class="form-control" placeholder="Ingresa el Orden de visualización" />
                        <span asp-validation-for="Orden" class="text-danger"></span>
                    </div>
                </div>

            <br />

                <div class="form-group row">
                    <div class="col-8">
                        <partial name="_VistaCrearVolver" />
                    </div>
                </div>
            </div>

        <br />
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}