@model BlogCore_Models.ViewModels.HomeVM


<div id="sliderImagenes" class="carousel slide max-vh-25" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">

        @{
            int cont = 0;
        }

        @foreach (var slider in Model.Sliders)
        {
            var itemDinamico = cont++ == 0 ? "active" : "";

            if (slider.Estado == true)
            {
                <div class="carousel-item @itemDinamico">
                    <img src="@Url.Content(slider.UrlImagen)" class="d-block w-100" />
                    <h1 class="text-white text-center bg-dark py-1">@Html.Raw(slider.Nombre)</h1>
                </div>
            }
        }

        @*  <div class="carousel-item active">
            <img style="object-fit: contain" class="d-block w-100" src="~/Imagenes/articulos/8000dfe7-d1bf-45f8-a518-65ef6ddb4d8b.jpg" alt="First slide">
        </div> *@

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
